<div id="list_display">
	<div class="editRecord">
		<p>Edit This Information</p>
		<ul>
			<li><span type="form" name="EstablishmentPlan:id" href="lists?type=positionplan&amp;id=">Update this Information</span></li>
			<li><a href="lists?type=EstablishmentPlan">Select another Job</a></li>
		</ul>
	</div>
	<!-- editRecord -->
	<div class="dataTable">
		<table border="0" cellspacing="0" cellpadding="0">	
			<tr>
				<th colspan="2">Job Head Count</th>
			</tr>
			<span type="form" name="EstablishmentPlan:position" showhead="default"></span>
			<span type="form" name="EstablishmentPlan:costcentre" showhead="default"></span>
			<span type="form" name="EstablishmentPlan:headcount" showhead="default"></span>
		</table>
	</div>
	<!-- dataTable -->
</div>
