<div>
  <h2>Chagua Aina ya Kikomo cha Fundo</h2>
  Hujafasili taarifa yoyote ya kikomo kwenye kifundo hiki. Unaweza ama kuchagua kuweka kikomo kwa uga au kupanga kifundo hiki kuwa kiendeshaji.
  <br><table class="formRelationship multiFormTable" cellpadding="0" cellspacing="0" border="0" id="new_limit_styles"><tr><td>
	<input id="limit_type" type="radio" name="limit_type" value="operator">Kifundo Kiendeshaji.
      </td>
      <td>
	<select name="limit_operator" id="limit_operator"><option value="">Chagua Kimoja</option><option value="NOT">HAPANA</option><option value="AND">NA</option><option value="OR">AU</option><option value="XOR">XOR</option></select></td>
    </tr><tr><td colspan="2">
	<input type="radio" name="limit_type" value="limit">
	Weka kikomo kwa uga (kifundo cha mwisho)
      </td>
    </tr><tr><td colspan="2">
	<input type="radio" name="limit_type" checked value="">
	Hakuna kikomo
      </td>
    </tr></table></div>
