<div task='person_can_view_child_form_actingPosition'>
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li task='person_can_edit_child_form_actingPosition'><span type="form" name="actingPosition:id" href="actingPosition?id=" parent="true">Update this Information</span></li>
		</ul>
	</div> <!-- editRecord -->	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th colspan="2">Acting Position Information</th>
		</tr>
		<span type="form" name="actingPosition:actingGrade" showhead="default"></span>
		<span type="form" name="actingPosition:substantiveGrade" showhead="default" class="even"></span>
		<span type="form" name="actingPosition:duration" showhead="default"></span>"
		<span type="form" name="actingPosition:reason4Acting" showhead="default" class="even"></span>

	</table>
	</div> <!-- dataTable -->
</div>
