<tbody>
	<tr>
		<th colspan="2">Promotion Information</th>
	</tr>
	<tr id="list_fields">
			<td>
				<span type="form" name="lastpromotion:persontoholdergrade" showhead="default"></span>
				<span type="form" name="lastpromotion:job" showhead="default"></span>
				<span type="form" name="lastpromotion:promotiondate" showhead="default"></span>
			</td>
			<td>
				<span type="form" name="lastpromotion:salaryperannum" showhead="default"></span>
				<span type="form" name="lastpromotion:confirmedinappointment" showhead="default"></span>
				<span type="form" name="lastpromotion:promotionletter" showhead="default"></span>
			</td>
	</tr>
</tbody>

