<div task='person_can_view_child_form_lastpromotion'>
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li task='person_can_edit_child_form_lastpromotion'><span type="form" name="lastpromotion:id" href="lastpromotion?id=" parent="true">Update this Information</span></li>
		</ul>
	</div> <!-- editRecord -->	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th colspan="2">Promotion Information</th>
		</tr>
		<span type="form" name="lastpromotion:persontoholdergrade" showhead="default"></span>
		<span type="form" name="lastpromotion:job" showhead="default" class="even"></span>
		<span type="form" name="lastpromotion:promotiondate" showhead="default"></span>"
		<span type="form" name="lastpromotion:salaryperannum" showhead="default" class="even"></span>
		<span type="form" name="lastpromotion:confirmedinappointment" showhead="default"></span>"
		<span type="form" name="lastpromotion:promotionletter" showhead="default" class="even"></span>
	</table>
	</div> <!-- dataTable -->
</div>
