<tbody id="list_fields">

	<tr>
	<td class="formdata">
<!-- 	<table border="0" cellpadding="0" cellspacing="0" width="100%"> -->	
	
	
		<span type="form" name="position:code" showhead="default"></span> 
		<span type="form" name="position:supervisor" showhead="default"></span>
		<span type="form" name="position:end_date" showhead="default"></span>
		<span type="form" name="position:estab" showhead="default"></span>
	</td>
	<td class="formdata"> 
			<span type="form" name="position:comments" showhead="default"></span>
			<span type="form" name="position:status" showhead="default" noedit="true"></span>
		</td>
	</tr>

    		<tr>
    			<th colspan="2">Position</th>
    		</tr>	
		
<tr>
	
	<td class="formdata">
	
				<span type="form" name="position:job" showhead="default" 
			addlink="lists?add=1&amp;type=job" addtask='position_can_edit'></span>				
				<span type="form" name="position:description" showhead="default"></span>
			</td>
	<td class="formdata"> 

			</td>
	
</tr>
		

</tr>	
   <tr>
       <td class="formdata">
    	<table border="0" cellpadding="0" cellspacing="0" width="100%" >
    		<tr>
    			<th>Location</th>
    		</tr>
    		<tr>
    			<td class="formdata" >
    				<span type="form" name="position:globalcostcentre" showhead="default"></span>
	   				<span type="form" name="position:facility" showhead="default"></span>
	   				<span type="form" name="position:station" showhead="default"></span>
	   				<span type="form" name="position:department" showhead="default"></span> 
    			</td>
    		</tr>
    	
    	</td>
     	</table>
    <td class="formdata">
    	 <table border="0" cellpadding="0" cellspacing="0" width="100%" > 
    		<tr>
    			<th>Categorization</th>
    		</tr>
    		<tr>
    			<td class="formdata" >
	   				<span type="form" name="position:Programme" showhead="default"></span>
	   				<span type="form" name="position:SubProgramme" showhead="default"></span>
	   				<span type="form" name="position:SubSubProgramme" showhead="default"></span>
	   				<span type="form" name="position:Section" showhead="default"></span>
    			</td>
    		</tr>
     	</table> 
    </td>

    </tr>


</tbody>
	
