<tbody id="list_fields">
    <tr>
        <td class="formdata">
            <span type="form" name="title" showhead="default"></span>
            <span type="form" name="code" showhead="default"></span>
            <span type="form" name="description" showhead="default"></span>
            <span type="form" name="salary_grade" showhead="default"></span>
            <span type="form" name="gratuity" showhead="default"></span>            
            <span type="form" name="votecode" showhead="default"></span>
            <span type="form" name="votename" showhead="default"></span>
        </td><td class="formdata">
            <span type="form" name="Grade" showhead="default"></span>
            <span type="form" name="cadre" showhead="default"></span>
            <span type="form" name="hrhcadre" showhead="default"></span>
            <span type="form" name="commonservice" showhead="default"></span>
            <span type="form" name="department" showhead="default"></span>
            <span type="form" name="classification" showhead="default"></span>
            <span type="form" name="careerpath" showhead="default"></span>
            <span type="module" name="isco-88" ifenabled="true">
                <span type="form" name="isco_88_unit" showhead="default"></span>
            </span>
        </td>
    </tr>
</tbody>
