<div dir="rtl">
  <h2 dir="rtl">إختر حد نوع عقدة</h2>
  لم تقم بتحديد أية معلومات الحد من تحت هذه العقدة. يمكنك اختيار إما للحد من حقل أو تعيين هذه العقدة ليكون المشغل.
  <br><table class="formRelationship multiFormTable" cellpadding="0" cellspacing="0" border="0" id="new_limit_styles"><tr><td dir="rtl">
	<input id="limit_type" type="radio" name="limit_type" value="operator">عامل عقدة
      </td>
      <td>
	<select name="limit_operator" id="limit_operator"><option value="" dir="rtl">إختر واحد</option><option value="NOT" dir="rtl">لا</option><option value="AND" dir="rtl">و</option><option value="OR" dir="rtl">أو</option><option value="XOR" dir="rtl">أكس أور - عامل منطقي</option></select></td>
    </tr><tr><td colspan="2" dir="rtl">
	<input type="radio" name="limit_type" value="limit">
	حدد بحقل (عقدة نهاية)
      </td>
    </tr><tr><td colspan="2" dir="rtl">
	<input type="radio" name="limit_type" checked value="">
	لا حدود
      </td>
    </tr></table></div>
