<tbody id="list_fields">
<tr>
    <td class="formdata">
        <span type="form" name="votename:name" showhead="default"></span>
        <span type="form" name="votename:mailaddress" showhead="default"></span>
        <!--<span type="form" name="votename:latitude" showhead="default"></span> -->
    </td>
    <td class="formdata">
    	<span type="form" name="votename:code" showhead="default"></span>
        <span type="form" name="votename:telephone" showhead="default"></span>
        <!--<span type="form" name="votename:longitude" showhead="default"></span> -->
    </td>
</tr>
</tbody>
