<div id="list_display" task="can_view_database_list_votename">
    
    <div class="editRecord">
    <p>Edit This Information</p>
        <ul>
            <li task='can_edit_database_list_votename'><span type="form" name="votename:id" href="lists?type=votename&amp;id=" >Update this Information</span></li>
            <li><a href="lists?type=votename" >Select another Cost Centre </a></li>
        </ul>
    </div> <!-- editRecord -->


 <div class="dataTable">
    <table border="0" cellspacing="0" cellpadding="0">
      <tbody>
	<tr>
	  <th colspan="2">Cost Centre Information</th>
	</tr>
	<span type="form" name="votename:name" showhead="default"></span>
	<span type="form" name="votename:code" showhead="default" class="even"></span>
	<span type="form" name="votename:mailaddress" showhead="default"></span>
	<span type="form" name="votename:telephone" showhead="default" class="even"></span>
	<!--<span type="form" name="votename:latitude" showhead="default"></span>
	<span type="form" name="votename:longitude" showhead="default" class="even"></span> -->
      </tbody>
    </table>
  </div> <!-- dataTable -->
</div> <!-- list_display -->
