<tbody>
	<tr>
		<th colspan="2">Advances Information</th>
	</tr>
	<tr id="list_fields">
			<td>
				<span type="form" name="advances:dateAdvDisbursed" showhead="default"></span>
				<span type="form" name="advances:advType" showhead="default"></span>
				<span type="form" name="advances:firstDeduction" showhead="default"></span>				
			</td>
			<td>
				<span type="form" name="advances:amountDue" showhead="default"></span>
				<span type="form" name="advances:curNetPay" showhead="default"></span>
				<span type="form" name="advances:lastDeduction" showhead="default"></span>
			</td>
	</tr>
</tbody>

