<div task='person_can_view_child_form_confirmationtoservice'>
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li task='person_can_edit_child_form_confirmationtoservice'><span type="form" name="confirmationtoservice:id" href="confirmationtoservice?id=" parent="true">Update this Information</span></li>
		</ul>
	</div> <!-- editRecord -->	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th colspan="2">Date of Confirmation into Service</th>
		</tr>
		<span type="form" name="confirmationtoservice:confirmationdate" showhead="default"></span>
		<span type="form" name="confirmationtoservice:confirmationletter" showhead="default" class="even"></span>
	</table>
	</div> <!-- dataTable -->
</div>
