<div task='person_can_view_child_form_dutypost'>
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li task='person_can_edit_child_form_dutypost'><span type="form" name="dutypost:id" href="dutypost?id=" parent="true">Update this Information</span></li>
		</ul>
	</div> <!-- editRecord -->	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th colspan="2">Duty Post</th>
		</tr>
		<span type="form" name="dutypost:duty" showhead="default"></span>
		<span type="form" name="dutypost:code" showhead="default" class="even"></span>
		<span type="form" name="dutypost:dateassigned" showhead="default"></span>
		<span type="form" name="dutypost:dutyletter" showhead="default" class="even"></span>
	</table>
	</div> <!-- dataTable -->
</div>
