<tbody id="person_form">
<tr>
  <th>New Position</th>
  <th>Current Position</th>
</tr>
<tr id="list_fields">
  <td id='new_position'>
    <span id='new_person_position' type="form" name="person_position:position"  noedit='true' showhead="default" addlink="lists?add=1&amp;type=position" addtask='position_can_edit'></span>
    <span type="form" name="person_position:start_date" showhead="default"></span>
 
    </td>
  <td id='current_position'>
    <span type="form" name="person_position:position" display="true" showhead="default"></span>
    <span type="form" name="person_position:start_date" showhead="default" display="true"></span>
    <span type="form" name="person_position:reason" showhead="default"></span>

    <span type="form" name="position:status" head="Enter new Status for the Current Position"></span>

  </td>
</tr>
</tbody>
