<div id="siteContent">
<h1>Manage People</h1>
<div task='person_can_edit'>
  <h2><a href="person" class="createRecords">Add Person</a></h2>
  <p>
    To track a person in the database, whether 
      an employee or a job applicant, add a
      record for that person. Certain information is required to start a new record. 
      Once the record is generated, additional options for adding data about the person 
      will become available. An HR Staff person or an HR Manager can add a new person 
      to the system. 
  </p>

  <hr />




<h2><a href="lists?add=1&type=position" class="createRecords">Add Job</a></h2>
  <p>
    To track a job in the database, whether filled or not. Certain information is required to start a new record. 
      Once the record is generated you will be able to assign the job to a person
  </p>

</div>
</div>

