<tbody id="list_fields">
  <tr>
    <td class="formdata">
      <span type="form" name="name" showhead="default"></span>
      <span type="form" name="station:StationCode" showhead="default"/></span>
      <span type="form" name="station_type" showhead="default" addlink="lists?add=1&amp;type=station_type"></span>
    </td>
    <td class="formdata">
      <span type="form" name="station:location" showhead="default" addlink="lists?add=1&amp;type=country"/></span>
      <span type="form" name="station:latitude" showhead="default"></span>
      <span type="form" name="station:longitude" showhead="default"></span>
    </td>
  </tr>
</tbody>
