<div>
  <h2>Umiiral na Hangganan</h2>
  <p>May isang hangganan sa hanay <i><span name="limit_field"></span></i> may estilo <i><span name="limit_style"></span></i>.</p>
  <input name="limit_style" type="hidden"><input name="limit_field" type="hidden"><table class="formRelationship multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr class="limit_menu"><td colspan="2" class="limit_menu">
	<div id="limit_type_menu" class="limit_type_menu">
	</div>
      </td>
    </tr></table>
  Maaari mong <a name="remove_limit_link">Tanggalin</a> ang hangganang ito.
</div>
