<div>
  <h2>Limite esistente</h2>
  <p>C'è un limite sul campo <i><span name="limit_field"></span></i> con stile <i><span name="limit_style"></span></i>.</p>
  <input name="limit_style" type="hidden"><input name="limit_field" type="hidden"><table class="formRelationship multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr class="limit_menu"><td colspan="2" class="limit_menu">
	<div id="limit_type_menu" class="limit_type_menu">
	</div>
      </td>
    </tr></table>
  Puoi <a name="remove_limit_link">Rimuovi</a> questo limite.
</div>
