<tbody id="person_form">
<tr>
<th colspan="2">New Contact</th>
</tr>
<tr>
 <td>
 <span type="form" name="MoHContact:ContactType" showhead="default"></span>
  <span type="form" name="MoHContact:Prefix" showhead="default"></span>
 <span type="form" name="MoHContact:Firstname" showhead="default"></span>
 <span type="form" name="MoHContact:Surname" showhead="default"></span>
 <span type="form" name="MoHContact:othername" showhead="default"></span>
 <span type="form" name="MoHContact:Relationship" showhead="default"></span>
 </td>
 <td>
 <span type="form" name="MoHContact:ResAddress" showhead="default"></span>
 <span type="form" name="MoHContact:WorkAddress" showhead="default"></span>
 <span type="form" name="MoHContact:ResPhone" showhead="default"></span>
 <span type="form" name="MoHContact:WorkPhone" showhead="default"></span>
 <span type="form" name="MoHContact:CellPhone" showhead="default"></span>
 </td>
 </tr>
 </tbody>
