<div>
	
		<tr>
			<td style="width: 200px;"><span type="form" name="MoHContact:id" href="MoHContact?id=" parent="true">Edit Contact</span></td>
			<td style="width: 200px;"><span type="form" name="MoHContact:ContactType"></span></td>
			<td style="width: 100px;"><span type="form" name="MoHContact:Prefix"></span></td>
			<td style="width: 200px;"><span type="form" name="MoHContact:Firstname"></span></td>
			<td style="width: 200px;"><span type="form" name="MoHContact:Surname"></span></td>
			<td style="width: 200px;"><span type="form" name="MoHContact:othername"></span></td>
			<td style="width: 200px;"><span type="form" name="MoHContact:Relationship"></span></td>
			<td><span type="form" name="MoHContact:ResAddress"></span></td>
			<td><span type="form" name="MoHContact:WorkAddress"></span></td>
			<td style="width: 200px;"><span type="form" name="MoHContact:ResPhone"></span></td>
			<td style="width: 200px;"><span type="form" name="MoHContact:WorkPhone"></span></td>
			<td style="width: 200px;"><span type="form" name="MoHContact:CellPhone"></span></td>
		</tr>
</div>
