<div>	
		<tr>
			<td style="width: 200px;"><span type="form" name="MoHEducation:id" href="MoHEducation?id=" parent="true" task="can_edit_education_entries">Edit Entry</span></td>
			<td style="width: 200px;"><span type="form" name="MoHEducation:educationlevel"></span></td>
				<td><span type="form" name="MoHEducation:title"></span></td>
			<td style="width: 200px;"><span type="form" name="MoHEducation:coursenum"></span></td>
			<td style="width: 200px;"><span type="form" name="MoHEducation:grade"></span></td>
			<td style="width: 200px;"><span type="form" name="MoHEducation:institution"></span></td>
			<td style="width: 200px;"><span type="form" name="MoHEducation:courseyearend"></span></td>
		</tr>
</div>


		