<div>	
		<tr>
			<td style="width: 14%;"><span type="form" name="person_id:id" href="person_id?id=" parent="true" >Update Info</span></td>
			<td style="width: 14%;"><span type="form" name="person_id:id_type" ></span></td>
			<td style="width: 14%;"><span type="form" name="person_id:id_num" ></span></td>
			<td style="width: 14%;"><span type="form" name="person_id:issue_date" ></span></td>
			<td style="width: 14%;"><span type="form" name="person_id:expiration_date" ></span></td>
			<td style="width: 14%;"><span type="form" name="person_id:country" ></span></td>
			<td style="width: 14%;"><span type="form" name="person_id:place" ></span></td>
		</tr>
</div>
