<div id="list_display" task="can_view_database_list_disability">
	
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li task='can_edit_database_list_disability'><span type="form" name="disability:id" href="lists?type=disability&amp;id=" >Update this Information</span></li>
			<li task='can_view_database_list_disability'><a href="lists?type=disability">Select another Disability</a></li>
		</ul>
	</div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th colspan="2">Disability</th>
		</tr>
		<span type="form" name="disability:name" showhead="default"></span>
	  	<span type="form" name="disability:code" showhead="default" class="even"></span>			
	</table>
	</div> <!-- dataTable -->
	
</div> <!-- list_display -->
