<div>
  <h2>Vorhandene Einschränkung</h2>
  <p>Dieses Feld wird eingeschränkt <i><span name="limit_field"></span></i> mit Stil <i><span name="limit_style"></span></i>.</p>
  <input name="limit_style" type="hidden"><input name="limit_field" type="hidden"><table class="formRelationship multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr class="limit_menu"><td colspan="2" class="limit_menu">
	<div id="limit_type_menu" class="limit_type_menu">
	</div>
      </td>
    </tr></table>
  Du kannst <a name="remove_limit_link">Entfernen</a> diese Einschränkung.
</div>
